*{
    margin: 0;
    padding: 0;
  font-family: 'Roboto Flex', sans-serif;
}
a{
   color: white;
    text-decoration: none;
    }
    a:hover{
   
    text-decoration: none;
    }
    a:visited{
    
    text-decoration: none;
    }
    a:active{
    text-decoration: none;
    }
.imgheads img{
   margin-left: 550px;
   width: 400px;
   height: 300px;
}

.line{
    text-align: center;
    background-color: rgb(248, 58, 58);
    color: white;
    height: 50px;
    font-weight: 700;
    text-decoration: none;
}
.foot_text{
    margin-left: 200px;
    margin-top: 50px;
}
.pere a{
    margin-left: 50px;
    font-size: 13px;
    color: black;
}
.maing{
    background-color: rgb(27, 27, 27);
    height: 100px;
    margin-top: 100px;
    color: white;
   
}


.qq{
    margin-right: 80px;
}
.ww{
    margin-right: 80px;
   
}
.tt{
    font-weight: 700;
    font-size: 20px;
}
.pp{
margin-bottom: 20px;
font-size: 13px;
margin-left: 20px;
}
